= simple_form_for [:my, event] do |f|
  = f.input :title
  = f.input :description
  = f.input :place
  = f.input :start_at, html5: true
  = f.input :end_at, html5: true
  = f.input :category, include_blank: false
  = f.input :published
  = f.button :submit
