= paginate events

- events.each do |event|
  .card.mb-3
    .card-body
      %h5.card-title= event.title
      .text-muted= event.category.text
      .text-muted= "開始日： #{l event.start_at}"
      .text-muted= "終了日： #{l event.end_at}"
      %p.card-text= truncate event.description, length: 140
      = link_to '詳細', event_path(event), class: 'card-link'

= paginate events
