.mb-3
  %span.fs-5= @event.title
  - if @event.published?
    %span.badge.text-bg-success 公開
  - else
    %span.badge.text-bg-secondary 非公開

.row
  .col-md-2
    .list-group
      = link_to '編集する', edit_admins_event_path(@event), class: 'list-group-item list-group-item-action'
      = link_to '削除する', admins_event_path(@event), class: 'list-group-item list-group-item-action text-danger', data: { turbo_method: :delete, turbo_confirm: '削除すると参加ユーザーが参照できなくなりますがよろしいですか？' }
      = render 'admins/events/participate_users', event: @event
  .col-md-10
    = render 'admins/events/event', event: @event
    = render 'admins/events/reviews', event: @event
