%h2 新規登録

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, input_html: { autocomplete: 'name' }
    = f.input :email, required: true, input_html: { autocomplete: 'email' }
    = f.input :password, required: true, hint: '6文字以上のパスワードにしてください', input_html: { autocomplete: 'new-password' }
    = f.input :password_confirmation, required: true, input_html: { autocomplete: 'new-password' }
  .form-actions.mb-3
    = f.button :submit

%p= link_to '有効化のメールが届いていませんか？', new_user_confirmation_path
%p= link_to "パスワードを忘れましたか？", new_user_password_path
